@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.detailed-view-bg-container {
    background-image: url("https://th.bing.com/th/id/OIP.aMX9W7TJVMid4vhGVAnq1wHaDo?w=350&h=171&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    height: 230vh;
    background-size: cover;
}

.detailed-view-heading {
    color: white;
    font-size: 40px;
    font-family: 'italic';
    font-weight: bold;
    padding: 60px;
}

.video-container {
    padding: 10px;
    background-color: cover;
    margin: 20px;

}


.card-container {
    font-size: italic;
    font-family: "Roboto";
    text-decoration: 700px;
    color: white;
    padding: 12px;
    background-color: #0f022;
    margin: 12px;
    border-bottom-right-radius: 5px;
}

.image2 {
    height: 50vh;
    width: 50vh;


}
